<ion-view title="{{store.store}}">
    <ion-content class="has-header">
        <div class="list card">

            <a href="#" class="item item-icon-left">
            <i class="icon ion-ios7-location"></i>
            {{current.address}}
            </a>

            <a href="#" class="item item-icon-left">
            <i class="icon ion-social-usd"></i>
            {{current.price | number : 2}}
            </a>

            <a href="#" class="item item-icon-left">
            <i class="icon ion-ios7-speedometer"></i>
            {{current.distance | number : 1}}mi
            </a>

        </div>
    </ion-content>
</ion-view>
