<ion-view title="Stores">
    <ion-content class="has-header">
        <ion-list>
          <ion-item ng-repeat="store in stores" class=" item-icon-right item-note-right" ng-click="changeStore('{{store.id}}')">
                <span href="#">
                    <span class="list-price">
                      ${{store.price | number : 2}}
                    </span>
                    {{store.name || store.address}} 
                </span>
                <span class="item-note">{{store.distance | number : 2}}mi</span>
                <i class="icon ion-ios7-arrow-right"></i>
          </ion-item>
        </ion-list>
    </ion-content>
</ion-view>