<ion-view title="Stores" hide-nav-bar="false">
    <ion-content class="has-header">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list class="storesList">
          <ion-item ng-repeat="store in stores | orderObjectBy:'distance':false" class=" item-icon-right item-note-left" ng-click="changeStore('{{store.id}}')">
                <span href="#">
                    <span class="list-price">
                      ${{store.price | number : 2}}
                    </span>
                    <div style="width:100%;">{{store.name || store.address | limitTo : 18}}</div>
                    <span class="item-note">{{store.distance | number : 2}}mi</span>
                </span>
                <i class="icon ion-ios7-arrow-right"></i>
          </ion-item>
        </ion-list>
    </ion-content>
</ion-view>