<ion-tabs class="tabs-icon tabs-dark">
  <!-- home Tab -->
  <ion-tab title="Home" icon="icon ion-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Stores Tab -->
  <ion-tab title="Near Me" icon="icon ion-ios7-navigate-outline" href="#/tab/stores">
    <ion-nav-view name="tab-stores"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon="icon ion-gear-b" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>
</ion-tabs>
