/* Empty. Add your own CSS if you like */
.pane {
    letter-spacing: 0.02em;
}

.homebg {
    background: #ffc900;
}

.storesList .item {
    height: 80px;
}

.storesList .item .item-note {
    float: left;
    margin-top: 5px;
}

.list-price {
    padding: 12px 0px;
    width: 70px;
    color: #4a87ee;
    font-weight: bold;
    float: left;
}